body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  /*  Пример подключения изображения из папки  img */
  
}
.main-header {
	background-color: #6451d5;
	background-image: url("../img/bg-promo.png");
    background-repeat: no-repeat;
    background-position: 620px 157px;
}
.container {
	width: 1020px;
	margin-left: auto; 
	margin-right: auto; 
	padding-top: 30px; 
	padding-left: 30px; 
	padding-right: 30px;
	padding-bottom: 30px;
	border: 1px solid black; 
}
.header-top {
	min-height: 90px;
	border: 1px solid black; 
	
}
.main-nav ul {
	margin: 0;
	padding: 0;
}
.main-nav{
	padding-left: 350px;
	padding-top: 32px;
}
.main-nav li {
	display: inline-block;
	margin-right: 56px;	
	
}
.main-nav li:last-child{
	margin-right: 0;
}
.main-nav a {
	text-decoration: none;
	color: #ffffff;
}
.main-header img {
	position: absolute;
}
.promo {
	width: 510px;
	margin-top: 100px;
	margin-bottom: 60px;
	border: 1px solid black; 
}
.promo-title{
	color: #ffffff;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 30px;
}
.promo-text {
	width: 320px;
	color: #bcb3f2;
	margin-bottom: 30px; 
}
.btn {
	display: block;
	color: #ffffff;
	background-color: #382d78;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 27px;
	padding-bottom: 27px;
	text-align: center;
	font-weight: bold;
}
.btn-purple {
	width: 320px;
	/*  */
}
.advantages {
	background-color: #efefef;
}
.advantages ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.advantages li {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 285px;
	text-align: center;
	margin-right: 70px;
	/* border: 1px solid black;  */
	 
}
.advantages li:last-child{
	margin-right: 0;
}
.adventages-icon {
	width: 80px;
	height: 70px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	margin: auto;
}
.advantages-icon-schedule {
	background-position: 0px 0px;
}
.advantages-icon-practice {
	background-position: -76px 0px;
}
.advantages-icon-work {
	background-position: -165px 0px;	
}

.table-title {
	font-size: 50px;
	margin-bottom: 60px;
}
.education-forms-table td{
	border: 2px solid #a7a7a7;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	line-height: 30px;
	vertical-align: top;
}
.education-forms-table {
	border-collapse: collapse;
	width: 1020px;
	margin-bottom: 50px;
	
}
.column-1 {
	width: 214px;
	font-weight: bold;
	font-size: 21px;
	padding-right: 30px;
}
.column-2 {
	width: 160px;
	font-weight: bold;
	font-size: 21px;
	padding-right: 30px;
}
.column-3 {
	width: auto;
	padding-right: 80px;
}
.head-row {
	background-color: #efefef;
	color: #404040;
}
.feedback-title {
	font-size: 50px;
	/* margin-bottom: 60px; */
}
.feedback {
	background-color: #efefef;
	
}
.feedback-form{
	float: left;
	width: 670px;
	margin-bottom: 50px;

}
.feedback-instruction {
	float: right;
	width: 280px;
	padding-top: 15px;
	/* border: 1px solid black; */
}
.feedback .container {
	display: table;
	clear: both;
	content: "";
}
.feedback-field-name {
	width: 100px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	
}
.feedback-field {
	width: 560px;
}

#username,
#comment {
	width: 510px;
	color: #404040;
	padding-top: 10px;
	padding-left: 25px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.btn-feedback-submit{
	width: 540px;
	font-size: 16px;
}
}
.feedback-instruction p {
	color: #555555;
	/* border: 1px solid black; */
}
.feedback-instruction .strong-instruction {
	padding-top: 25px;
	/* border: 1px solid black; */
}